@import 'assets/styles/realize/lin-variables.scss';

.user-list-container {
  padding: 0 30px;
  
  .group-select {
    min-width: 220px;
  }

  .pagination {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
  }
}