@import 'assets/styles/realize/lin-variables.scss';

.log-container {
  .log-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-bottom: -24px;

    .header-left {
      float: left;

      .title {
        height: 60px;
        line-height: 59px;
        color: #4c76af;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 0px;
      }
    }

    .header-right {
      float: right;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .dropdown {
        height: 36px;
        padding: 0 12px;
        margin: 0 10px;
      }

      .date-picker.ant-calendar-picker {
        .ant-calendar-picker-input.ant-input {
          width: 350px;
          // height: 36px;

          &:hover {
            border: 1px solid rgba(57, 99, 188, .4);
          }

          &:focus {
            border: 1px solid $theme;
            box-shadow: none;
          }

          .ant-calendar-range-picker-input {
            &::-webkit-input-placeholder {
              color: $theme;
              opacity: 0.4;
            }
          }
          
          .ant-calendar-range-picker-separator {
            line-height: 26px;
            color: #303133;
          }
        }

        .anticon.anticon-calendar.ant-calendar-picker-icon {
          color: $theme;
          opacity: 0.4;
        }
      }
    }
  }

  .search {
    height: 52px;
    width: 100%;
    background: rgba(57, 99, 188, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // margin-top:24px;

    .search-tip {
      margin-left: 40px;
      height: 52px;
      line-height: 52px;
      color: #354058;
      font-size: 14px;

      .search-keyword {
        color: $theme;
      }

      .search-num {
        color: #f4516c;
      }
    }

    .search-back {
      margin: 8px 20px;
      height: 32px;
      background: #f4516c;
      border: none;
      border-radius: 2px;
      color: #fff;
      padding: 0 13px;
      font-size: 14px;
      cursor: pointer;
    }
  }

  .content {
    min-height: 400px;
    padding: 40px 60px;
    margin-top: 20px;
    position: relative;

    article {
      position: relative;
      margin-bottom: -24px;

      section {
        padding: 0 0 36px;
        position: relative;

        &:before {
          content: "";
          width: 1px;
          top: 7px;
          bottom: -17px;
          left: 10.5px;
          background: #f3f3f3;
          position: absolute;
        }

        &:last-child:before {
          display: none;
        }

        .point-time {
          content: "";
          position: absolute;
          width: 10px;
          height: 10px;
          top: 2px;
          left: 10px;
          background: $theme;
          margin-left: -4px;
          border-radius: 50%;
        }

        time {
          width: 15%;
          display: block;
          position: absolute;

          span {
            display: block;
            text-align: right;
          }
        }

        aside {
          color: #45526b;
          margin-left: 30px;

          .things {
            font-size: 14px;
            color: #45526b;
            margin-bottom: 15px;
            line-height: 14px;
          }
        }

        .text-yellow {
          color: #8c98ae;
          font-size: 14px;
          line-height: 20px;
          padding-right: 30px;
          float: left;
        }

        .brief {
          font-size: 14px;
          color: #c4c9d2;
          height: 20px;
          line-height: 20px;
          margin-bottom: 0;
        }
      }
    }

    .loading {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-16px, -19px);
    }
  }

  .more {
    height: 40px;
    line-height: 40px;
    color: $theme;
    font-size: 14px;
    margin-left: 28px;
    cursor: pointer;
    &.nothing {
      cursor: text;
    }

    .more-loading-icon {
      display: inline-block;
      animation: spin 1s linear infinite;
    }

    .down-circle-icon {
      font-size: 14px;
      display: inline;
      margin-left: 6px;
    }

    // .icon-gengduo {
    //   display: inline;
    //   margin-left: 6px;
    // }

    // .icon-loading {
    //   &:before {
    //     display: inline-block;
    //     animation: spin 1s linear infinite;
    //   }
    // }
  }

  .strong {
    color: #464dd5;
  }
}

// .picker.ant-calendar-picker-container.ant-calendar-picker-container-placement-bottomRight {
//   transform: translateY(50px);
// }

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1000px) {
  .date {
    display: none;
  }
}