.user-info-container {
  margin-top: 20px;
  // margin-left: -5px;
  max-width:800px;

  // .ant-form-item {
  //   margin-bottom: 35px;
  // }

  .submit {
    .ant-btn {
      margin-right: 10px;
    }
  }
}