@import 'assets/styles/realize/lin-variables.scss';

.back-top {
  position: fixed;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border: 2px solid $theme;
  border-radius: 50%;
  line-height: 34px;
  z-index: 3;
  color: $theme;
  opacity: 0.7;
  &:hover {
    opacity: 1;
  }
}