@import 'assets/styles/realize/lin-variables.scss';

$menu-item-height: $menuItem-height;
$menu-item-margintop: 0;
$menu-item-marginbottom: 0;

$menu-text-color: rgb(196, 201, 210);
$menu-text-color-selected: #1890ff;
$menu-bg: #192A5E;
$menu-bg-deep: #122150;
$menu-item-hover: $menu-bg-deep;
$menu-item-hover-deep:#0a1949;

$default-size-height: 36px;
$small-size-height: 24px;
$btn-color-danger: #f4516c;


// 自定义 Menu 组件的 dark-theme 样式
// ---
.custom-antd.ant-menu-dark {
  .ant-menu-inline.ant-menu-sub {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

// 自定义 Button 组件样式
// ---
.custom-antd.ant-btn {
  &.ant-btn-primary.btn-plain {
    background: #fff;
    color: $theme;
    padding: 0 12px;
    border: 1px solid $theme;
    border-radius: 2px;
    transition: all .1s linear;

    &:hover {
      background: $theme;
      color: #fff;
      transition: all .1s linear;
    }
  }

  &.ant-btn-danger.btn-plain {
    background: #fff;
    color: $btn-color-danger;
    padding: 0 12px;
    border: 1px solid $btn-color-danger;
    border-radius: 2px;
    transition: all .1s linear;

    &:hover {
      background: $btn-color-danger;
      color: #fff;
      transition: all .1s linear;
    }
  }
}
