@import 'assets/styles/realize/lin-variables.scss';

.home-container {
  .layout-container {
    .aside {
      background: $sidebar-background;
      overflow-x: hidden;
      &::-webkit-scrollbar {
        width: 0px;
        height: 0px;
      };
      transition: all 0.3s linear;
    }

    .sub-container {
      height: 100vh;
      overflow: hidden;
      
      .header.ant-layout-header {
        width: 100%;
        padding: 0;
        background: $header-background;
        height: $header-height;
        box-shadow: 0px 2px 6px 0px rgba(190, 204, 216, 0.4);
        border-bottom: 1px solid rgba(190, 204, 216, 0.4);
        z-index: 1;
      
        .left {
          height: 100%;
          width: 100%;
      
          .operate {
            display: flex;
            align-items: center;
            background: $header-background;
            padding-left: 20px;

            .fold-icon {
              font-size: 14px;
              color: $right-side-font-color;
              cursor: pointer;
              margin-right: 10px;
              transition: all 0.3s linear;

              &:hover {
                color: $theme;
              }
            }
          }
        }
      
        .right-info {
          display: flex;
          align-items: center;
        }
      }

      .content {
        overflow: auto;
        background: $appmain-background;

        &::-webkit-scrollbar {
          width: 10px;
          background-color: #ddd;
        };
        &::-webkit-scrollbar-thumb {
          background-color: #aaa;
          border-radius: 5px;
    
          &:hover {
            background-color: $theme;
          }
        }
      }
    }
  }
  
  .el-main {
    overflow-y: auto;
    position: relative;
    padding: 0;
  }
  
  .backTop {
    position: fixed;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    right: 50px;
    bottom: 50px;
    width: 22px;
    height: 22px;
    line-height: 22px;
    border-radius: 50%;
    z-index: 99;
    background: #fff;
    .iconfont {
      font-size: 36px;
    }
  }
}